#hero {
  padding: 15px;
}

#hero .logged-out {
  min-height: 60vh; /* Set a larger height when the user is logged out */
}

#hero .logged-in {
  min-height: 40vh; /* Set a smaller height when the user is logged in */
}

#hero .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 900px;
}
#hero .content .sign-in__wrapper {
  align-self: flex-start;
}
#hero .content .sign-in__wrapper,
#hero .content .sign-up__wrapper {
  flex: 1;
}

@media screen and (max-width: 600px) {
  #hero .content {
    flex-direction: column;
  }
  #hero .content .sign-in__wrapper {
    align-self: center;
  }
  .sign-up__wrapper {
    border: none;
  }
}

.welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
}
